apiVersion: v1
kind: Service
metadata:
  name: mining-management-web
  labels:
    app: mining-management-web
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
  selector:
    app: mining-management-web
